<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %5p | %t | %-55logger{55} | %m %n</pattern>
		</encoder>
	</appender>

<!-- 	<logger name="org.springframework.aop.interceptor.CustomizableTraceInterceptor"> -->
<!-- 		<level value="TRACE" /> -->
<!-- 	</logger> -->
	
	<logger name="org.namefilip">
		<level value="DEBUG" />
	</logger>
	
	<logger name="org.springframework.orm.jpa">
		<level value="INFO" />
	</logger>
	
	<logger name="org.springframework.transaction">
		<level value="INFO" />
	</logger>
	
	
	
	<root>
		<level value="INFO" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>          
